{% extends 'base.html' %}
{% block body %}
<img src="{{movie.poster_url}}" class='my-image'alt="">
<h1>{{movie.title}} 

</h1>
<h3>관객수 : {{movie.audience}} 장르 : {{movie.genre.name}}
</h3>
<h3>좋아요 : {{movie.like_user.all.count}} 
<form action="{% url 'movies:like' movie.pk %}" method='POST'>
{% csrf_token %}
<input type="submit" name="" value='좋아~!'>
</form>
</h3>
<p>{{movie.description}}</p>
<hr>
<p>
리뷰 부탁 드립니다.
<form action="{% url 'movies:new' movie.pk %}" method='POST'>
{% csrf_token %}
{{review_form}}
<input type="submit" value="등록">
</form>
</p>
<hr>
{% for review in movie.review_set.all %}
<p>{{review.user}} => 평점 : {{review.score}} 리뷰 : {{review.content}}
{% if user == review.user %}
 <form action="{% url 'movies:delete' movie.pk review.pk %}" method='POST'>
 {% csrf_token %}
 <input type="submit" value='리뷰 삭제'>
 </form>
 {% endif %}
 </p>
 <hr>
{% endfor %}
{% endblock %}